************************************************************

Interface Statistics for {{ inventory_hostname }} 

************************************************************

Interface {{ results.stats.name }}
  {% for k,v in results.stats() %}
   {{ k }}: {{ v }} 
  {% endfor %}     
{% endfor %}
